body {
    background-color: #fcf7f0c4;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.grafico-container {
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: 0px auto;
}

.sliderT-container {
    width: 500px;
    margin: 0px auto;
    text-align: center;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #c62828;
    border-radius: 4px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #ff4d4d;
    border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #8e0000;
}