body {
    background-color: #0d1117;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #c9d1d9;
}


.grafico-container {
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #0d1117;
}

.sliderT-container {
    width: 500px;
    margin: 0px auto;
    text-align: center;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #ff4d4d;
    border-radius: 4px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #b62d2d;
    border-radius: 50%;
}